*{
    padding: 0;
    margin: 0;
    font-family: megrim, sans-serif;
}

body{
    background-image: linear-gradient(50deg, #FF85C3, #a268ff);
    height: 100px;
}

.header {
    background-color: #ffffff93;
    width: 100vw;
    box-shadow: 2px 3px 3px rgb(49, 49, 49);
    height: 15vh;
}

#menu{
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

#name{
    float: right;
    font-size: larger;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#search{
    float: right;
    font-size: larger;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header button{
    background-color: #a268ff00;
    border: 0;
}
